
extend ../books/main
block book_content 
    link(rel="stylesheet", href="/css/books/detail1.css")
    script(src="/js/books/detail.js")
    article.books.detail
        .detail
            strong ISBN 
            span=book.isbn
            strong 도서명
            span=book.title
        .detail
            strong 출판사 
            span=book.publisher
            strong 저자
            span=book.author
            strong 역자 
            span
        .detail
            strong 정가
            span=book.price
            strong 할인가
            span=book.discount
            strong 출판일자
            span
        .detail.btn(data-isbn= `${book.isbn}`)
            button.list 리스트로
            button.update 수정하기
            button.delete 삭제하기