extend ../books/main
block book_content
    link(rel="stylesheet", href="/css/books/detail.css")
    script(src="/js/detail.js")
    h3.book 도서정보 상세 보기
    div
        strong ISBN
        span= book.isbn 
    div
        strong 도서명
        span= book.title  
    div
        strong 출판사
        span= book.publisher  
    div
        strong 저자
        span= book.author
    div
        strong 가격
        span= book.price  
    div
        strong 할인가격
        span= book.discount  
    div
        strong 요약
        span= book.description 
    div
        strong 출판일
        span= book.pubdate 
    div
        strong 네이버링크
        span= book.link 
    div
        strong 이미지링크
        span= book.image  
    .btn_box 
        button.btn_list 리스트
        button.btn_update(data-isbn=`${book.isbn}`) 수정
        button.btn_delete(data-isbn=`${book.isbn}`) 삭제