extends ../layout

block content
    link(rel="stylesheet", href="/css/iolist/list.css")
    script(src="/js/iolist.js")
    //- h1 매입매출 정보 보기
    .iolist.btn_box
        if user
            a(href="/iolist/list") 추가

    table.iolist
        thead 
            tr
                th 일련번호
                th 거래일자
                th 거래시각
                th 상품코드
                th 상품명
                th 거래처코드
                th 거래처명
                th 거래구분
        tbody 
            each io in ioList//IOLIST?
                tr
                    td= io.io_seq
                    td= io.io_date
                    td= io.io_time
                    td= io.io_pcode
                    td= io.IO_상품.pname
                    td= io.io_dcode
                    td= io.IO_거래처.io_dname
                    td= io.io_div